.navbar-expand > .container, .navbar-expand > .container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

#navbar {
    height: 50px;
    border-bottom: 3px solid black;
    margin-bottom: 5px;
    padding: 10px 5px 0 5px;
    font-weight: bold;
    font-size: 20px;
}

.nav-link-active {
    color: black;
    cursor: auto;
}
    .nav-link-active:hover {
        color: black;
        cursor: auto;
        text-decoration: none;
    }

.category-container {
    padding-top: 30%;
    width: 30%;
    margin: 5px 10px 5px 0;
    border: 2px solid black;
    position: relative;
    display: inline-block;
}
    .category-container:hover {
        background-color: rgb(0, 0, 0, 0.1);
        cursor: pointer;
    }

.category-title {
    padding-top: 20%;
    font-weight: bold;
    font-size: 36px;
}

.category-description {
    padding-top: 50%;
    font-size: 16px;
}

.category-square-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.mini-alert-container {
    position: absolute;
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
}